*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}
 .container{
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    width:250px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    box-shadow: 0px 10px 25px rgb(181, 194, 209); 

    
}

p1{
    font-family: Outfit, 'san-serif';
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
    

p2{
    font-family: Outfit,'san-serif';
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin: 5px 10px;
    text-align: center;
}
 .container img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 2px;
    align-self: center;
}